<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Real-time camera view from the International Space Station."/>
        <meta name="robots" content="noodp,noydir,noarchive"/>
        <meta property="og:locale" content="en_GB"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="Real-time location and view from the International Space Station."/>
        <meta property="og:description" content="Real-time camera view from the International Space Station."/>
        <meta property="og:url" content="issview.info/about.html"/>
        <meta property="og:site_name" content="issview.info"/>
        <meta property="og:image" content="http://issview.info"/>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="js/vendor/jquery-1.12.0.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.js"><\/script>')</script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">ISS View</h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="map.html">Maps</a></li>
                        <li><a href="tst.html" style="display: none">test</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/International_Space_Station">About</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <%=content%>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>iss view</h3>
            </footer>
        </div>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="http://localhost:9090/livereload.js"></script>
    </body>
</html>
